<div class="main-container">
  <div class="sub-container-left">
    <mat-card class="alert-card">
      <mat-card-title style="text-align: center;">Low Stock List</mat-card-title>
      <mat-divider></mat-divider>
      <div *ngFor="let product of lowStock">
        <mat-card class="low-stock-card" (click)="update(product.id)">
          <div class="card-inner">{{product.productName}}</div>
          <div class="card-inner">Quantity: {{product.quantity}}</div>
          <div class="card-inner">Re-Order: {{product.reOrderLevel}}</div>
           
        </mat-card>
      </div>
      <div *ngIf="lowStock.length == 0" style="margin-top: 10%; text-align: center;">
        <h2>All products are in required stock level!</h2>
      </div>
    </mat-card>
  </div>
  <div class="sub-container-right">    
      <div id="chart">
        <h1 style="text-align: center; margin-top: 5%; font-weight: 500;">Quantities</h1>
        <canvas id="pieChart"></canvas>
      </div> 
  </div>
</div>


